/* 기본 스타일 */
.product-detailed-info {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.product-detailed-info td {
    border: 1.5px solid #b3b3b3;
    padding: 10px;
    color: rgb(66, 66, 66);
    font-weight: 200;
    text-align: center;
}

/* 헤더 스타일 */
.product-detailed-info thead th {
    display: flex;
    color: rgb(66, 66, 66);
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
}

/* 라벨과 데이터 스타일 */
.label {
    background-color: #d9d9d9;
    font-weight: medium;
    font-size: 18px;
    width: 10%; /* 라벨과 데이터의 비율을 조정 */
}

.data {
    background-color: #ffffff;
    width: 25%;
}
