.bigbox {
    width: 80%;
    margin: auto;
}

.product-detail-border {
    margin-bottom: 20px;
    background-color: #d9d9d9;
    color: #d9d9d9;
    border-style: solid;
    height: 20px;
}
.action-buttons {
    float: right;
}

.action-buttons img {
    width: 6%;
}
.action-buttons button {
    border: none;
    background-color: transparent;
    color: black;
}
.product-detail-image::before {
    content: '';
    display: block;
    width: 300px;
    height: 300px;
    background: #ddd;
    margin-right: 10px;
}

.product-detail-top {
    display: flex;
    width: 100%;
}

.produc-detail-1 {
    display: flex;
    margin-top: -30px;
    flex-direction: row;
    color: #d9d9d9;
}
.produc-detail-1 p {
    margin-right: 30px;
}
.product-detail-price {
    width: 180px;
    font-size: 30px;
}
.product-detail-lowest {
    margin-top: 10px;
    color: #424242;
}

.product-detail-price-action {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}

.product-detail-price-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-detail-buy {
    width: 250px;
    height: 64px;
    font-size: 20px;
    font-weight: 500;
    color: black; /* 버튼 글씨색 */
    background-color: #fff;
    border: 2px solid rgb(179, 179, 179);
    cursor: pointer; /* 마우스 커서를 손가락 모양으로 변경 */
    margin-left: 120px;
}
.product-detail-specs {
    font-size: 14px;
    color: rgb(89, 89, 89);
}
.spec-title {
    margin-right: 10px;
    font-weight: 600;
}
.product-reviews {
    margin-left: 10px;
}
.nav {
    background-color: #d9d9d9; /* 기본 배경색 */
    color: black; /* 기본 글자 색 */
    width: 80%;
    height: 40px;
    margin: 0 auto;
    align-items: center; /* 세로축에서 중앙 정렬 */
    border: 1px solid #b3b3b3;
    border-bottom: 2px solid #424242;
}

.fixed-nav {
    z-index: 10;
    height: 40px;
    position: fixed;
    top: 21px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid black; /* 하단 검은색 border */
}

.nav ul {
    display: flex;
    justify-content: space-around; /* 항목들을 가운데 정렬 */
    list-style: none; /* 리스트 스타일 제거 */
}

.nav ul li {
    text-align: center; /* 텍스트 가운데 정렬 */
}

.element {
    width: 80%;
    margin: auto;
}

/* PriceInfo.css */
.price-info-container {
}

.price-info-header {
    display: flex;
    justify-content: space-between;
}
/* 가격 정보 표시를 위한 스타일 */
.price-info-container {
    width: 100%;
    overflow: hidden; /* 내부 요소가 넘칠 경우 숨김 */
}

.price-info-header {
    display: flex;
    justify-content: flex-start; /* 내용물 간격 동일하게 */
    font-size: 12px;
    color: rgb(125, 125, 125);
}
.price-info-mall {
    width: 60%; /* 쇼핑몰 이름 너비 */
    text-align: left;
}

.price-info-price {
    width: 30%; /* 판매가와 배송비 너비 */
    text-align: left;
}

.price-info-delivery {
    width: 10%;
    text-align: left;
}
.price-info-item {
    display: flex;
    align-items: flex-start; /* 각 항목들을 컨테이너의 시작 부분에 정렬 */

    font-size: 12px;
    font-weight: 500;
    color: rgb(66, 66, 66);
}

.mall-name {
    width: 60%; /* 쇼핑몰 이름 너비 */
    text-align: left;
}

.mall-price {
    width: 30%; /* 판매가와 배송비 너비 */
    text-align: left;
}

.mall-delivery {
    width: 10%;
    text-align: left;
}
.mall-low {
    font-size: 12px;
    font-weight: 00;
    color: rgb(125, 125, 125);
}
.product-reviews-count {
    font-size: 16px;
    color: rgb(125, 125, 125);
}
.product-reviews-rating {
    font-size: 16px;
    font-weight: 600;
    color: rgb(66, 66, 66);
}
