/* 전체 페이지를 채우는 컨테이너 */
.my-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5; /* 배경색 */
}
.my-page-container {
    color: #333;
}

.profile-section {
    text-align: center;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.profile-placeholder {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f0f0f0;
    line-height: 80px;
    text-align: center;
    color: #999;
    font-size: 40px;
}

.info-section p,
.input-box p {
    margin: 0;
    font-weight: 700;
    font-size: 12px;
    color: #333;
}

.input-box {
    margin-bottom: 20px;
}

.input-box div {
    margin-bottom: 10px;
}

.name-input,
.email-input,
.phone-input,
.id-input,
.password-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}
