/* FloatingBar.css */
.floating-bar {
    right: 0;
    z-index: 99;
    width: 80px; /* 너비 */
    height: 380px;
    background-color: rgb(255, 255, 255); /* 배경색 */
    border: 1px solid rgb(179, 179, 179); /* 테두리 */
    border-radius: 20px 0px 0px 20px; /* 테두리 둥글게 */
    z-index: 1000; /* 다른 요소들 위에 보이도록 z-index 설정 */
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0; /* 상단에서 0px의 위치 */
    /* 필요한 추가 스타일 */
}
.floating-item img {
    width: 40px; /* 이미지의 크기를 조정합니다 */
    height: 70px;
    padding: 10px; /* 이미지의 패딩을 추가합니다 */
    border-bottom: 1px solid #eaeaea; /* 구분선을 추가합니다 */
    cursor: pointer;
}
.floating-ite img {
    width: 40px; /* 이미지의 크기를 조정합니다 */
    height: 70px;
    padding: 10px; /* 이미지의 패딩을 추가합니다 */
    cursor: pointer;
}
