.bigbox {
    width: 80%;
    margin: auto;

}
.product-detail-border{
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    background-color: #D9D9D9;
    color: #D9D9D9;
    border-style: solid;
    height: 20px;
}
.action-buttons {
    float: right;
    margin: auto;
}

.action-buttons img{
    width: 6%;
}
.action-buttons button{
    border: none;
    background-color: transparent;
    color: black; 
}
.product-detail-image::before {
    content: ""; 
    display: block; 
    width: 300px; 
    height: 300px; 
    background: #ddd; 
}

.product-detail-top {
    display: flex;
    width: 100%;
}

.produc-detail-1{
    display: flex;
    flex-direction: row;
    color: #D9D9D9;
}
.produc-detail-1 p{
    margin-right: 20px
}
.product-detail-price{
    display: flex;
    flex-direction: column;
    font-size: 30px; 
}
.product-detail-lowest {
    color: #424242;
    margin-bottom: 0px; /* 필요한 간격에 따라 조절 */
}

.product-detail-price-action {
    display: flex;
    align-items: stretch;  /* 자식 요소들이 부모 요소와 같은 높이를 가지도록 설정 */
    justify-content: space-between;
}

.product-detail-price-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-detail-buy {
    position: relative;
    bottom: 30px;
    width: 250px;
    background-color: #D9D9D9; /* 버튼 배경색 */
    color: black; /* 버튼 글씨색 */
    border: none; /* 버튼 테두리 제거 */
    cursor: pointer; /* 마우스 커서를 손가락 모양으로 변경 */
    margin-left: 120px;
}

.nav {
    background-color: #f5f5f5; /* 기본 배경색 */
    color: black; /* 기본 글자 색 */
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid black; /* 하단 검은색 border */
}

.nav ul {
    display: flex;
    justify-content: space-around; /* 항목들을 가운데 정렬 */
    list-style: none; /* 리스트 스타일 제거 */
    padding: 10px 0; /* 상하 패딩 적용 */

}

.nav ul li {
    flex-grow: 1;
    text-align: center; /* 텍스트 가운데 정렬 */
}

.element{
    width: 80%;
    margin: auto;
}