.price-input-container {
    display: flex;
    align-items: center;
}

.price-input-container input {
    padding: 5px;
    width: 100px; /* 입력창의 고정 너비 설정 */
    border: 1px solid #ccc; /* 입력창에 테두리 추가 */
    border-radius: 5px; /* 입력창의 모서리를 둥글게 처리 */
}
