/* 전체 페이지를 채우는 컨테이너 */
.join-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f5f5f5; /* 회원가입 폼 배경색 */
}

/* 회원가입 제목 박스 */
.join-title-box {
    margin-bottom: 2rem;
}

/* 회원가입 제목 */
.join-title {
    margin-top: 50px;
    font-size: 50px;
    color: #007bff;
}
.join-input {
}

/* 입력 필드를 감싸는 박스 */
.join-input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

/* 입력 필드 */
.join-input-box input {
    width: 360px;
    height: 48px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0 10px 0;
}
.join-input-box span {
    color: #ff0000;
}

/* 가입 버튼 */
.join-submit-btn {
    width: 480px;
    height: 63px;
    padding: 0.5rem;
    background-color: #007bff; /* 버튼 배경색 */
    color: #ffff;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    font-size: 32px;
}
.check-id-btn {
    position: relative;
    right: 120px;
    width: 120px;
    height: 54px;
    background-color: #007bff; /* 버튼 배경색 */
    color: #ffff;
    border: none;
    font-size: 18px;
    font-weight: 100;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.send-code-btn {
    position: relative;
    right: 120px;
    width: 120px;
    height: 54px;
    background-color: #007bff; /* 버튼 배경색 */
    color: #ffff;
    border: none;
    font-size: 18px;
    font-weight: 100;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.verify-code-btn {
    position: relative;
    right: 120px;
    width: 120px;
    height: 54px;
    background-color: #007bff; /* 버튼 배경색 */
    color: #ffff;
    border: none;
    font-size: 18px;
    font-weight: 100;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* 가입 버튼 호버 효과 */
.join-submit-btn:hover {
    background-color: #0056b3;
}
.password-mismatch {
    border: 1px solid red;
}

/* 반응형 디자인: 태블릿 크기에 맞춤 */
@media (max-width: 768px) {
    .join-input-box input,
    .join-submit-btn {
        width: 90%; /* 입력 필드와 버튼의 너비를 조정 */
    }
}
